@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased overflow-x-hidden;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-gradient {
  background: linear-gradient(to right, #00f3ff, #b026ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
